# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [83]:
import pandas as pd 
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [84]:
cars1 = pd.read_csv("cars1.csv")
cars2 = pd.read_csv("cars2.csv")

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [85]:
cars1.dropna(axis=1 , how="all" , inplace=True)

### Step 5. What is the number of observations in each dataset?

In [86]:
print("observations in cars1: ",cars1.shape[0])
print("observations in cars2: ",cars2.shape[0])

observations in cars1:  198
observations in cars2:  200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [87]:
cars = pd.concat([cars1, cars2] , ignore_index= True)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [88]:
owners = np.random.randint(15000 , 73000, size = len(cars))
cars.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl

### Step 8. Add the column owners to cars

In [89]:
cars['owners'] = owners

In [90]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,46375
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,55141
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,41441
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,45601
4,17.0,8,302,140,3449,10.5,70,1,ford torino,50992